<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Index Page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa placeat adipisci in corporis explicabo totam esse eveniet similique itaque saepe, tenetur, ab quae cum assumenda officia et autem doloremque? Totam.</p>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
</body>
</html>